* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f5f7fa;
    color: #333;
}

.hero {
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    margin: 10px 0;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: white;
    color: #764ba2;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.about {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about img {
    border-radius: 50%;
}


ul, ol {
    margin-top: 10px;
    padding-left: 20px;
}


.contact a {
    color: #667eea;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
    margin-top: 20px;
}